.focus-container {
  font-family: "Roboto";

  padding: 15vh 0 10vh 0;
  background-color: var(--about-bg-color);
  color: white;
  min-height: 100vh;
}
.focus-icon {
  font-size: 100px !important;
  color: #4e93dd;
  font-family: "Material Icons";
}
.focus-title {
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
}
.focus-text {
  padding: 0 0 30px 0;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 120%;
}
