---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import ProjectContainer from '../components/ProjectContainer.astro';
import Header from '../components/Header.astro';
import Community from '../components/Community.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Matt Hughes">
    <main>
        <div class="flex justify-center w-full pb-10 pt-2">
            <div class="flex flex-col flex-wrap items-center w-full">
                <Header />
                <AboutMe />
                <div class="pb-16"></div>
                <Experience />
                <ProjectContainer />
                <div class="pb-20"></div>
                <Community />
                <div class="pb-20"></div>
            </div>
        </div>
    </main>
</Layout>
