---
import Layout from '../layouts/Layout.astro';
import Me from '../images/me3.webp';
---

<Layout title="Support Matt Hughes">
    <main>
        <div class="flex flex-col items-center w-full py-[20vh]">
            <div
                class="w-full lg:w-6/12 px-5 flex flex-col items-center text-lg font-semibold"
            >
                <img
                    src={Me}
                    alt="Matt Hughes"
                    class="lg:w-8/12 w-full max-h-[30vh] p-5 object-contain"
                    onclick="window.open("https://matthughes.dev/", "_self")"
                />
                <h1 class="py-10 text-center">hello :)</h1>
                <p class="my-2">
                    I'm Matt and I make websites and tools and other tech stuff.
                </p>
                <p class="my-2">
                    I hope you like the things I make! If you feel like
                    supporting me in any way, consider <span
                        ><a
                            href="https://twitch.tv/zee_pk"
                            class="text-violet-400 hover:brightness-110 hover:underline"
                            >following me on twitch</a
                        >
                    </span> or sponsoring me with a few bucks <span
                        ><a
                            href="https://github.com/sponsors/zeepk"
                            class="text-slate-400 hover:brightness-110 hover:underline"
                            >on github</a
                        >
                    </span>
                </p>
            </div>
        </div>
    </main>
</Layout>
