---
import Me from '../images/me2.webp';
---

<div class="lg:w-8/12 w-full flex flex-row justify-center flex-wrap pt-10">
    <img
        src={"https://i.imgur.com/716KOWW.png"}
        alt="Matt Hughes"
        class="lg:w-5/12 w-full max-h-[30vh] p-5 object-contain"
    />
    <div class="p-5 lg:w-7/12 w-full">
        <h1 class="font-semibold pb-10 gif-text text-center lg:text-left">
            Matt Hughes
        </h1>
        <p>Hi 👋</p>
        <p class="mb-2">
            I'm a full stack web developer with experience in the Financial and
            Healthcare tech industries
        </p>
        <p>
            I work with tools like TypeScript // React // Vue // Node // Python
            // Django // C# // .NET
        </p>
    </div>
</div>
<style type="text/css">
    .gif-text {
        /* background-image: url('https://media1.giphy.com/media/3o7bu9zwfieCd1R9HG/giphy.gif?cid=ecf05e475do4qmq0kbbjkvhrn92kppkr9ez0g7ruua796rvq&rid=giphy.gif'); */
        /* background-image: url('https://media1.giphy.com/media/xT0xeifG3YWtHJ4HQI/giphy.gif?cid=ecf05e47klpz2gp0rq0gl4x21664e2d6x4ip9y2n7znsuigr&rid=giphy.gif'); */
        background-image: url('https://media3.giphy.com/media/3otO6NFBIAFg2vPZuM/giphy.gif?cid=ecf05e473pholcgergc9rzdri6w732p4t7mgdy9tqz8jl6ji&rid=giphy.gif');
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-size: clamp(50px, 110px, 7vw);
        /* font-size: 4em; */
        line-height: 0.75;
        font-family: 'Alata', sans-serif;
    }
</style>
