---
import Me from '../images/me2.jpg';
---
<div class="md:w-8/12 w-full flex flex-row justify-center flex-wrap">
	<img src={Me} alt="Matt Hughes" class="md:w-5/12 w-full p-5"/>
			<div class="p-5 md:w-7/12 w-full" >
			<h1 class="font-semibold">Matt Hughes</h1>
			<p>Hi 👋</p>
			<p class="mb-2">I'm a full stack web developer with experience in the Financial and Healthcare tech industries</p>
			<p>I work with tools like TypeScript // React // Vue // Node // Python // Django // C# // .NET</p>
</div>
</div>
