---
import Project from '../components/Project.astro';
import Wildlife from '../images/wildlife.webp';
import Bot from '../images/bot.webp';
import Codey from '../images/codey.webp';
import Woodcut from '../images/woodcut.webp';
---

<div class="w-full">
    <div class="w-full border-b-[1px] border-slate-400 my-20"></div>
    <h1 class="text-3xl text-center font-bold mb-10">
        Here's a few of my favorite side projects
    </h1>
    <div class="flex flex-row justify-center flex-wrap">
        <Project
            title="Animal Crossing Wildlife"
            body="Webapp tracker to accompany a popular video game. Allows users to check off achievements and add their friends to see their progress as well. Creating an account is as simple as singing in with Google."
            image={Wildlife}
            repo="wildlife"
            href="https://acwildlife.com"
        />
        <Project
            title="Woodcut"
            body="Website for users to check their gaming progress. Login with Google to follow your friends and see multi-account activity on a data rich dashboard. Modern tech like NextJS and Go help with efficient page loads and data handling."
            image={Woodcut}
            repo="woodcut"
            href="https://woodcut.dev/"
        />
        <Project
            title="CodeyBot"
            body="A Discord bot who sends messages in chat servers when Github events occur for the linked repository. Can alert communities when updates are pushed to a branch or a new release is created."
            image={Codey}
            repo="codeybot"
        />
        <Project
            title="Animal Crossing Twitter Bot"
            body="A bot who tweets out a random clothing item with an image from a database. The bot is scheduled to tweet every 4 hours on a cron job with a Raspberry Pi."
            image={Bot}
            repo="ac-twitter-bot"
            href="https://twitter.com/ac_clothing_bot"
        />
    </div>
</div>
